@charset "utf-8";
/* CSS Document */

body{
	background-color: #ddd;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
.header{
	position: sticky;
	top: 0;
	width: auto;
	height: 65px;
	background-color: #2b2e4a;
	overflow: hidden;
}
.header .headL{
	float: left;
	position: relative;
	
}
.header .headL .logo{
	position: absolute;
	left: 0;
	width: 150px;
	height: 65px;
}
.logo h1 a{
	display: block;
	width: 150px;
	height: 65px;
	background: url(#) no-repeat;
	background-color: #e84545;
	text-indent: px;
	overflow: hidden;
}
.header .headL ul{
	margin-left: 200px;
}
.header .headL ul li{
	float: left;
	line-height: 65px;
	padding: 0 30px;
}
.header .headL ul li a{
	font-size: 20px;
	color:#fff;
}
.header .headL ul li a:hover{
	color: #e84545;
}
.header .headL ul .h1:hover i{
	display:block;
	width: 5px;
	height: 5px;
	background-color:#ddd;
	transform: translate(19px,-2px)rotate(45deg)scale(3,3);
	transition: all 0.5s;
}
.header .headL ul .h2:hover i{
	display:block;
	width: 5px;
	height: 5px;
	background-color:#ddd;
	transform: translate(32px,-2px)rotate(45deg)scale(3,3);
	transition: all 0.5s;
}
.header .headL ul .h3:hover i{
	display:block;
	width: 5px;
	height: 5px;
	background-color:#ddd;
	transform: translate(32px,-2px)rotate(45deg)scale(3,3);
	transition: all 0.5s;
}
.header .headL ul .h4:hover i{
	display:block;
	width: 5px;
	height: 5px;
	background-color:#ddd;
	transform: translate(19px,-2px)rotate(45deg)scale(3,3);
	transition: all 0.5s;
}
.header .headR{
	float: right;
	width: 300px;
	height: 65px;
	background:url(#)no-repeat;
	background-color: #E84545;
	margin-right: 50px;
}
.zb1{
/*
	position: sticky;
	top: 65px;
	top: 65px;
	left: 0;
*/
	background-color: #2b2e4a;
	height: 20px;
	overflow: hidden;
}
.zb1 .zb2{
/*
	position: sticky;
	top: 65px;
	top: 100px;
*/
/*	left: 0;*/
	border-radius: 20px;
	background-color: #ddd;
	height: 40px;
}