@charset "utf-8";
/* CSS Document */
.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
	margin-top: 10px;
}
.main .focus{
	float: left;
	width: 721px;
	height: 455px;
}
.main .newsflash{
	float: right;
	width: 250px;
	height: 455px;
}
.main .newsflash .news{
	height: 165px;
	border: 1px solid #e4e4e4;
}
.main .newsflash .news .newshd{
	height: 33px;
	border-bottom: 1px dotted #e4e4e4;
	line-height: 33px;
}
.main .newsflash .news .newshd h5{
	float: left;
	font-size: 14px;
	margin:0 15px;
}
.main .newsflash .news .newshd a{
	float: right;
}
.main .newsflash .news .newshd a::after{
	vertical-align: middle;
	font-family: 'icomoon';
	content: "\e920";
}
.main .newsflash .news .newsbd{
	margin-left: 15px;
	margin-top: 5px;
}
.main .newsflash .news .newsbd ul li{
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.main .newsflash .lifeservice{
	height: 209px;
	border: 1px solid #e4e4e4;
	border-top: 0;
	overflow: hidden;
}
.main .newsflash .lifeservice ul{
	width: 252px;
	
}
.main .newsflash .lifeservice ul li{
	position: relative;
	float: left;
	width: 63px;
	height: 71px;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	text-align: center;
	
}
.main .newsflash .lifeservice ul li a{
	display: block;
}
.main .newsflash .lifeservice ul li a i{
	display: inline-block;
	width: 24px;
	height: 28px;
	margin-top: 12px;
	margin-bottom: 5px;
	background:url(../images/icons.png) no-repeat -19px -15px;
}
.main .newsflash .lifeservice ul li em{
	position: absolute;
	right: 0;
	top: -5px;
}
.main .newsflash .lifeservice ul li em img{
	height: 12px;
}
.main .newsflash .bargain{
	margin-top: 5px;
}
/*推荐start*/
.recomend{
	height: 163px;
	background-color: #ddd;
	margin-top: 12px;
}
.recomhd{
	float: left;
	background-color: #ebebeb;
}
.recomhd a{
	display: block;
	width: 205px;
	height: 163px;
	background-color: #5c5251;
	padding-top: 30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.recomhd a img{
	margin-bottom: 10px;
}
.recombd{
	float: right;
}
.recombd ul li{
	float: left;
	width: 248px;
	height: 163px;
	border-left: 1px solid #ddd;
	border-radius: 12px;
}
/*推荐end*/
/*楼层区*/
/*家用电器*/
.floor{
	margin-top: 30px;
}
.jiadian .boxhd{
	height: 30px;
	border-bottom: 2px solid #c81623;
	
}
.jiadian .boxhd h3{
	float: left;
	font-size: 18px;
	line-height: 30px;
	color: #c81623;
	font-weight: 400;
}
.jiadian .boxhd .tablist{
	float: right;
	line-height: 30px;
}
.jiadian .boxhd .tablist ul li{
	float: left;
}
.jiadian .boxhd .tablist ul li a{
	padding: 0 10px;
}
.jiadian .boxhd .tablist ul li a.active{
	color:#c81623;
}
.jiadian .boxbd{
	height: 361px;
	background-color: #ccc;
	overflow: hidden;
}
.jiadian .boxbd .tab_content .image-group{
	display: none;
}
.jiadian .boxbd .tab_content .image-group.active{
	display:block;
}
.jiadian .boxbd .tab_content .image-group span{
	position: relative;
	display: block;
	float: left;
	width: 300px;
	height: 361px;
	overflow: hidden;
}
.jiadian .boxbd .tab_content .image-group span img{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.jiadian .boxbd .tab_content .image-group img.fit-height{
	height: 100%;
	width: auto;
}