@charset "utf-8";
/* CSS Document */

.reghd{
	height: 84px;
	border-bottom: 2px solid #c81523;
}
.logoreg{
	position: absolute;
	top: 15px;
	width: 171px;
	height: 61px;
}
.logoreg h1 a{
	display: block;
	width: 171px;
	height: 61px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.regarea{
	height: 522px;
	border: 1px solid #ccc;
	margin-top: 20px;
}
.regarea h3{
	height: 42px;
	border-bottom: 1px solid #ccc;
	background-color: #ececec;
	line-height: 42px;
	padding:0 10px;
	font-size: 18px;
}
.regarea h3 div{
	float: right;
	font-size: 14px;
	font-weight: 400;
}
.regarea h3 div a{
	color: #c81523;
}
.regbd{
	margin: 0 auto;
	width: 600px;
	margin-top: 50px;
}
.regbd ul li label{
	display: inline-block;
	width: 88px;
	text-align: right;
	margin-right: 10px;
}
.regbd ul li{
	margin-bottom: 20px;
}
.regbd ul .safe{
	padding-left: 162px;
}
.regbd ul .safe em{
	margin: 2px;
	padding: 0 12px;
	color:#fff;
}
.regbd ul .agree{
	padding-left: 95px;
}
.regbd ul .agree a{
	color: #1ba1e6;
}
.regbd ul .agree input{
	vertical-align: middle;
	width: 15px;
	height: 15px;
}
.regbd ul .regagree input{
	width: 200px;
	height: 34px;
	background-color: #c81623;
	font-size: 14px;
	color: #fff;
	margin: 30px 0 0 190px;
}
.regbd ul li input{
	width: 242px;
	height: 37px;
	border: 1px solid #ccc;
	margin-right: 20px;
}
.error{
	color: red;
}
.success{
	color: green;
}